# EXPO_PUBLIC_API_BASE_URL=https://coldchainx.onrender.com
EXPO_PUBLIC_API_BASE_URL=https://api.coldchainx.online/
# Android Studio Emulator
#EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:5244
EXPO_PUBLIC_GOONG_MAP_KEY=xV6YBygCVRIQYybUrDAfaqYuuVfO9qvQBqQSA7uK
EXPO_PUBLIC_GOONG_MAPTILES_KEY=rCqT5IDaaeffKHi8nYFYA0vb8cZ51qPi1BTSFr8R
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=1040627412609-v30pd7tpofg1nj4hs8inhjf2a76hl681.apps.googleusercontent.com